<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>UserLogin</filter-name>
        <filter-class>moe.haruue.filter.UserLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserLogin</filter-name>
        <url-pattern>/car_addConfig.jsp</url-pattern>
        <url-pattern>/car_add.jsp</url-pattern>
        <url-pattern>/car_changeConfig.jsp</url-pattern>
        <url-pattern>/car_change.jsp</url-pattern>
        <url-pattern>/car_delete.jsp</url-pattern>
        <url-pattern>/enterprise_addConfig.jsp</url-pattern>
        <url-pattern>/enterprise_add.jsp</url-pattern>
        <url-pattern>/enterprise_changeConfig.jsp</url-pattern>
        <url-pattern>/enterprise_delet.jsp</url-pattern>
        <url-pattern>/good_config.jsp</url-pattern>
        <url-pattern>/goods_add.jsp</url-pattern>
        <url-pattern>/goods_changeConfig.jsp</url-pattern>
        <url-pattern>/goods_change.jsp</url-pattern>
        <url-pattern>/goods_delete.jsp</url-pattern>
        <url-pattern>/tool_assistant.jsp</url-pattern>
        <url-pattern>/tool_road.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminLogin</filter-name>
        <filter-class>moe.haruue.filter.AdminLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminLogin</filter-name>
        <url-pattern>/Manager/*</url-pattern>
    </filter-mapping>

</web-app>
